<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="author" content="SoftTech">
    <meta http-equiv="pragma" content="no-cache">
    <title>ソフトテク株式会社-社内管理システム</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="shortcut" th:href="@{/src/public/icon.ico}"/>
    <link rel="shortcut icon" th:href="@{/src/public/icon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/src/public/icon.ico}" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/src/public/public.css}"/>
	<link rel="stylesheet" th:href="@{/src/main/iconfont/iconfont.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/src/main/css/main.css}"/>
    <script type="text/javascript" charset="UTF-8" th:src="@{/src/public/public.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/src/main/js/main.js}"></script>
</head>
<body>
	<header id="header">
		<div class="logo">ソフトテク</div>
		<ul>
			<li th:each="ofcfunction:${list}" th:utext="${ofcfunction.functionText}" th:onclick="navigation([[${ofcfunction.functionLink}]])"></li>
		</ul>
	</header>
	<div id="right-block" class="right-block">
		<div class="right-header">
			<a class="iconfont list">&#xe60d;</a>
			<h1 id="company">社内管理システム</h1>
			<div class="user">
				<span class="iconfont icon">&#xe619;</span><span th:text="${session.userMailAdress}">Admin</span>
				<input type="button" class="exit" onclick="exit()" value="退出"/>
			</div>
		</div>
		<div class="right-body">
		<iframe id="iframe" th:src="@{/welcome}"></iframe>
		</div>
	</div>
</body>
</html>