<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="author" content="SoftTech">
    <meta http-equiv="pragma" content="no-cache">
    <title>ソフトテク株式会社-社内管理システム</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="shortcut" th:href="@{/src/public/icon.ico}"/>
    <link rel="shortcut icon" th:href="@{/src/public/icon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/src/public/icon.ico}" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/src/public/public.css}"/>
	<link rel="stylesheet" th:href="@{/src/main/iconfont/iconfont.css}">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/src/main/css/main.css}"/>
    <script type="text/javascript" charset="UTF-8" th:src="@{/src/public/public.js}"></script>
    <script type="text/javascript" charset="UTF-8" th:src="@{/src/main/js/main.js}"></script>
    <script>
    	function toManager(){
    		var windowObjectReference;
    		var windowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";

    		var employeeID = document.getElementById('employeeID').value;
    		//
    		//windowObjectReference = window.open("http://dev.it-softtech.com/emsm/functionInit?employeeID="+employeeID, "CNN_WindowName", windowFeatures);
    		windowObjectReference = window.open("http://localhost/emsm/functionInit?employeeID="+employeeID, "CNN_WindowName", windowFeatures);
    	}
    </script>
</head>
<body th:onload="onload([[${session.userUpdatePsw}]])">
	<header id="header">
		<button id="menuBlur" class="iconfont list" onclick="menuBlur()">&#xe60d;</button>
		<div class="logo">ソフトテク</div>
		<ul>
			<li th:each="ofcfunction:${list}" th:id="${ofcfunction.functionName}" th:onclick="navigation([[${ofcfunction.functionLink}]]);onStyle(this)"><span class='iconfont icon' th:utext="${ofcfunction.functionText}">TEXT</span></li>
		</ul>
		<th:block th:if="${manager == '1'}">
		  <input type="hidden" id="employeeID"  th:value="${session.userEmoplyeeID}"/>
		  <input type="button" name="manager" onclick="toManager()" value="管理者"/>
		</th:block>
	</header>
	<div id="shade" class="shade" onclick="menuBlur()"></div>
	<div id="right-block" class="right-block">
		<button id="menu" class="iconfont list" onclick="menu()">&#xe60d;</button>
		<div id="right-header" class="right-header">
			<h1 id="sysTitle">社内管理システム</h1>
			<div class="user">
				<span class="iconfont icon">&#xe619;</span><span th:text="${session.userMailAdress}">Admin</span>
				<input type="button" class="exit" onclick="exit()" value="退出"/>
			</div>
		</div>
		<div id="right-body" class="right-body">
		<iframe id="iframe" th:src="@{/welcome}"></iframe>
		</div>
	</div>
	<div id="messagebox" class="messagebox">
		<div class="messagecanvas">
			<div class="message-header"><span class="message-exit" onclick="messagetExit()">×</span></div>
			<div id="message-img" class="message-img"><img id="mylogo" th:src="@{./src/ems/images/please.gif}" alt=""></div>
			<div class="message">初期パスワードを変更ください</div>
			<div class="message-button"><button class="message-quit" onclick="toPasswd()">確認</button></div>
		</div>
	</div>
</body>
</html>