<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mapper.AdjustmentRequestFilesMapper">

    <!-- ResultMap for AdjustmentRequestFiles -->
    <resultMap id="AdjustmentRequestFilesResultMap" type="com.softtech.entity.AdjustmentRequestFiles">
        <result property="fileName" column="fileName" />
        <result property="fileYear" column="fileYear" />
        <result property="fileULStatus" column="fileULStatus" />
        <result property="filePath" column="filePath" />
    </resultMap>


    <select id="selectAll" resultMap="AdjustmentRequestFilesResultMap">
        SELECT * FROM ems.adjustmentrequestfiles
    </select>



    <select id="findByYearAndStatus" resultMap="AdjustmentRequestFilesResultMap">
        SELECT * FROM ems.adjustmentrequestfiles
        WHERE fileYear = #{year} AND fileULStatus = #{status}
    </select>


    <select id="selectByFileNameAndEmployeeIDAndYear" parameterType="map" resultMap="AdjustmentRequestFilesResultMap">
        SELECT * FROM ems.adjustmentrequestfiles
        WHERE fileName = #{fileName} AND employeeID = #{employeeID} AND fileYear = #{fileYear}
    </select>


    <select id="selectByFileNameAndEmployeeIDAndYearSingle" parameterType="map" resultMap="AdjustmentRequestFilesResultMap">
        SELECT * FROM ems.adjustmentrequestfiles
        WHERE fileName = #{fileName} AND employeeID = #{employeeID} AND fileYear = #{fileYear}
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.softtech.entity.AdjustmentRequestFiles">
        INSERT INTO ems.adjustmentrequestfiles (fileName, fileYear, fileULStatus, filePath)
        VALUES (#{fileName}, #{fileYear}, #{fileULStatus}, #{filePath})
    </insert>


    <update id="update" parameterType="com.softtech.entity.AdjustmentRequestFiles">
        UPDATE ems.adjustmentrequestfiles SET
        fileName = #{fileName},
        fileYear = #{fileYear},
        fileULStatus = #{fileULStatus},
        filePath = #{filePath},
    </update>



    <delete id="deleteByFileName" parameterType="String">
        DELETE FROM ems.adjustmentrequestfiles WHERE fileName = #{fileName}
    </delete>
</mapper>
