<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mapper.AdjustmentRequestMapper">
    <!-- Result Mapping -->
    <resultMap id="AdjustmentRequestResultMap" type="com.softtech.entity.AdjustmentRequest">
        <id property="id" column="id" />
        <result property="employeeID" column="employeeID" />
        <result property="employeeEmail" column="employeeEmail" />
        <result property="year" column="year" />
        <result property="insertDate" column="insertDate" />
        <result property="updateDate" column="updateDate" />
    </resultMap>

    <!-- SQL Queries -->
    <select id="selectAll" resultMap="AdjustmentRequestResultMap">
        SELECT * FROM ems.adjustmentRequest
    </select>
    <select id="selectById" parameterType="Integer" resultMap="AdjustmentRequestResultMap">
        SELECT * FROM ems.adjustmentRequest WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.softtech.entity.AdjustmentRequest">
        INSERT INTO ems.adjustmentRequest (employeeID, employeeEmail, year, insertDate, updateDate)
        VALUES (#{employeeID}, #{employeeEmail}, #{year}, #{insertDate}, #{updateDate})
    </insert>
    <update id="update" parameterType="com.softtech.entity.AdjustmentRequest">
        UPDATE ems.adjustmentRequest SET employeeID = #{employeeID}, employeeEmail = #{employeeEmail}, year = #{year},
        insertDate = #{insertDate}, updateDate = #{updateDate} WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM ems.adjustmentRequest WHERE id = #{id}
    </delete>
</mapper>
