<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mapper.AdjustmentDetailMapper">
    <resultMap id="AdjustmentDetailResultMap" type="com.softtech.entity.AdjustmentDetail">
        <id property="id" column="id"/>
        <result property="employeeID" column="employeeID"/>
        <result property="employeeEmail" column="employeeEmail"/>
        <result property="year" column="year"/>
        <result property="uploadStatus" column="uploadStatus"/>
        <result property="adjustmentStatus" column="adjustmentStatus"/>
        <result property="insertDate" column="insertDate"/>
        <result property="updateDate" column="updateDate"/>
    </resultMap>

    <!-- SQL Queries -->
    <select id="selectAll" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail
    </select>

    <select id="selectById" parameterType="Integer" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail WHERE id = #{id}
    </select>

	<select id="findByEmployeeIdAndYear" parameterType="map" resultMap="AdjustmentDetailResultMap">
        SELECT * FROM adjustmentdetail WHERE employeeID = #{employeeID} AND year = #{year}
    </select>


    <insert id="insert" parameterType="com.softtech.entity.AdjustmentDetail">
        INSERT INTO adjustmentdetail (employeeID, employeeEmail, year, uploadStatus, adjustmentStatus, insertDate, updateDate)
        VALUES (#{employeeID}, #{employeeEmail}, #{year}, #{uploadStatus}, #{adjustmentStatus}, #{insertDate}, #{updateDate})
    </insert>

    <update id="update" parameterType="com.softtech.entity.AdjustmentDetail">
        UPDATE adjustmentdetail SET employeeID = #{employeeID}, employeeEmail = #{employeeEmail}, year = #{year}, uploadStatus = #{uploadStatus}, adjustmentStatus = #{adjustmentStatus}, insertDate = #{insertDate}, updateDate = #{updateDate}
        WHERE id = #{id}
    </update>

    <update id="updateUploadStatusByEmployeeIdAndYear" parameterType="map">
        UPDATE adjustmentdetail
        SET uploadStatus = #{uploadStatus}, updateDate = NOW()
        WHERE employeeID = #{employeeID} AND year = #{year}
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM adjustmentdetail WHERE id = #{id}
    </delete>
</mapper>
