<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.SalaryListMapper">

<select id="getSalaryInfoList" parameterType="com.softtech.com.SalaryCommon" resultType="com.softtech.entity.SalaryInfo">
<!--給料情報を取得する。-->
		select *
		from salaryinfo
		where month between #{fromMonth} and #{toMonth}
		and employeeID=#{employeeID}
	</select>
</mapper>