<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.SalaryInfoMapper">

	<select id="queryAllSalaryInfo" parameterType="string" resultType="SalaryInfo">
		select * from ems.salaryinfo
	</select>

	<select id="querySalaryInfo" parameterType="map" resultType="SalaryInfo">
		select e.employeeName,e.address,s.* from salaryInfo s inner join employee e on s.employeeID = e.employeeID and s.employeeID=#{employeeID} and month=#{yearMonth}
	</select>

	<update id="updateSalaryInfo" parameterType="map">
		update ems.salaryinfo set password = #{password} where employeeID=#{employeeID}
	</update>

	<insert id="uploadSalaryInfo" parameterType="string">
		${slry}
	</insert>
	<select id="querySalaryInfoComment" resultType="SalaryInfoComment">
		select COLUMN_NAME columnName, COLUMN_COMMENT comment , case when COLUMN_COMMENT ="社員氏名" then 0 when COLUMN_COMMENT="社員ID" then 1 when COLUMN_COMMENT="住所" then 2 when COLUMN_COMMENT="対象月" then 3 when COLUMN_COMMENT="支払日" then 4 when COLUMN_COMMENT="基本給" then 5 when COLUMN_COMMENT="残業加算" then 6 when COLUMN_COMMENT="稼働不足減" then 7 when COLUMN_COMMENT="交通費" then 8 when COLUMN_COMMENT="手当加算" then 9 when COLUMN_COMMENT="手当減算" then 10 when COLUMN_COMMENT="手当理由" then 11 when COLUMN_COMMENT="厚生控除個人" then 12  when COLUMN_COMMENT="雇用保険個人負担" then 13  when COLUMN_COMMENT="社宅家賃控除" then 17 when COLUMN_COMMENT="社宅管理費控除" then 14 when COLUMN_COMMENT="源泉控除" then 15 when COLUMN_COMMENT="住民税控除" then 16 when COLUMN_COMMENT="社宅共益費控除" then 18 when COLUMN_COMMENT="総額" then 19 when COLUMN_COMMENT="備考" then 20 end inOrder from INFORMATION_SCHEMA.COLUMNS 
		<where>
		(table_name='employee' AND table_schema='ems' AND (COLUMN_NAME="employeeName" or COLUMN_NAME="address"))or(table_name='salaryInfo' AND table_schema='ems' AND (COLUMN_NAME="employeeID" or COLUMN_NAME="month" or COLUMN_NAME="paymentDate" or COLUMN_NAME="base" or COLUMN_NAME="overTimePlus" or COLUMN_NAME="shortageReduce" or COLUMN_NAME="transportExpense" or COLUMN_NAME="allowancePlus" or COLUMN_NAME="allowanceReduce" or COLUMN_NAME="allowanceReason" or COLUMN_NAME="welfareSelf" or COLUMN_NAME="eplyInsSelf" or COLUMN_NAME="rental" or COLUMN_NAME="rentalMgmtFee" or COLUMN_NAME="withholdingTax" or COLUMN_NAME="municipalTax" or COLUMN_NAME="sum"  
		or COLUMN_NAME="remark" or COLUMN_NAME="rentalMgmtFee")AND COLUMN_NAME!='deleteFlg' AND COLUMN_NAME!='insertDate' AND COLUMN_NAME!='updateDate') order by inOrder
		</where>
	</select>
</mapper>
