<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.TransportMapper">
	<select id="queryAllTransport" parameterType="string" resultType="Transport">
		select * from ems.transport
	</select>

	<insert id="insertTransport" parameterType="map">
		insert
		into transport(
			employeeID,
			workMonth,
			startDate,
			startStation,
			endStation,
			transportFacility,
			transportExpense1,
			midStation1,
			transportFacility1,
			midStation2,
			midStation3,
			transport,
			businessTrip,
			status,
			insertDate
		)
		values (
			#{employeeID},
			#{workMonth},
			#{startDate},
			#{startStation},
			#{endStation},
			#{transportFacility},
			#{transportExpense1},
			#{midStation1},
			#{transportFacility1},
			#{midStation2},
			#{midStation3},
			#{transport},
			#{businessTrip},
			'0',
			date_format(now(),'%Y%m%d')
		)
	</insert>

	<select id="queryTransport" parameterType="map" resultType="Transport">
    	select
    		t.workMonth,
    		t.startDate,
    		t.startStation,
    		t.endStation,
    		t.transportFacility,
    		t.transportExpense1,
    		t.midStation1,
    		t.transportFacility1,
    		t.midStation2,
    		t.midStation3,
    		t.transport,
    		t.businessTrip
    	from
    		ems.transport t
    		where t.employeeID = #{employeeID}
    	order by
    		t.workMonth DESC
    	limit
    		1
	</select>
	<update id="updateTransport"  parameterType="map">
	    	update
		transport
		set
		employeeID=#{employeeID},
		workMonth=#{workMonth},
		startDate#{startDate},
		startStation=#{startStation},
		endStation=#{endStation},
		transportFacility=#{transportFacility},
		transportExpense1=#{transportExpense1},
		midStation1=#{midStation1},
		transportFacility1=#{transportFacility1},
		midStation2=#{midStation2},
		midStation3=#{midStation3},
		transport#{transport},
		businessTrip=#{businessTrip},
		status='0',
		insertDate=date_format(now(),'%Y%m%d')
    	where
		t.employeeID = #{employeeID}
	AND
		t.workMonth = #{workMonth}
	</update>
</mapper>