<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.TransportMapper">

    <select id="queryAllTransport" parameterType="string" resultType="Transport">
        SELECT * FROM ems.transport
    </select>

    <insert id="insertTransport" parameterType="map">
        INSERT INTO transport (
            employeeID,
            workMonth,
            startDate,
            startStation,
            endStation,
            transportFacility,
            transportExpense1,
            midStation1,
            transportFacility1,
            midStation2,
            transportFacility2,
            midStation3,
            transportFacility3,
	        transportExpense2,
	        transportExpense3,
            transport,
            businessTrip,
            status,
            insertDate
        )
        VALUES (
            #{employeeID},
            #{workMonth},
            #{startDate},
			#{startStation},
			#{endStation},
            #{transportFacility},
            #{transportExpense1},
            #{midStation1},
            #{transportFacility1},
            #{midStation2},
            NULL,
            #{midStation3},
            NULL,
            NULL,
            NULL,
            COALESCE(CAST(#{transportExpense} AS DECIMAL(10,2)), 0) +
            COALESCE(CAST(#{transportExpense1} AS DECIMAL(10,2)), 0) +
            COALESCE(CAST(#{transportExpense2} AS DECIMAL(10,2)), 0),
            #{businessTrip},
            '0',
            DATE_FORMAT(CURDATE(),'%Y%m%d')
        )
    </insert>

    <select id="queryTransport" parameterType="map" resultType="Transport">
        SELECT
            w.workStartDay,
			w.workEndDay,
            w.workTime,
            t.workMonth,
            t.startDate,
            t.startStation,
            t.endStation,
            t.transportFacility,
            t.transportExpense1,
            t.midStation1,
            t.transportFacility1,
            t.midStation2,
            t.midStation3,
            t.transport,
            t.businessTrip
        FROM
            ems.transport t
        LEFT JOIN
            ems.workinfo w ON w.workMonth = t.workMonth
        WHERE
            t.employeeID = #{employeeID}
            AND t.workMonth = #{workMonth}
            AND w.contractID = (
                SELECT contractID
                FROM ems.contract
                WHERE employeeID = #{employeeID}
                AND status = '1'
            )
    </select>

    <update id="updateTransport" parameterType="map">
        UPDATE transport
        SET
            startDate = #{startDate},
            startStation = #{startStation},
            endStation = #{endStation},
            transportFacility = #{transportFacility},
            transportExpense1 = COALESCE(CAST(#{transportExpense1} AS SIGNED), 0),
            midStation1 = #{midStation1},
            transportFacility1 = #{transportFacility1},
            midStation2 = #{midStation2},
            midStation3 = #{midStation3},
            transport =  COALESCE(CAST(#{transportExpense} AS DECIMAL(10,2)), 0) +  COALESCE(CAST(#{transportExpense1} AS DECIMAL(10,2)), 0) +   COALESCE(CAST(#{transportExpense2} AS DECIMAL(10,2)), 0),
            businessTrip = COALESCE(CAST(#{businessTrip} AS SIGNED), 0),
            updateDate = DATE_FORMAT(CURDATE(), '%Y%m%d')
        WHERE
            employeeID = #{employeeID}
            AND workMonth = #{workMonth}
    </update>

    <select id="queryMaxWorkMonthTransport" resultType="string">
    	select max(workMonth)
    	from ems.transport
    	where employeeID = #{employeeID}
    </select>

</mapper>