<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.WorkInfoMapper">

	<insert id="insertWorkInfo" parameterType="map">
        INSERT INTO ems.workinfo
          (contractID, workMonth, workStartDay, workEndDay, workTime,
           workInfoFile, insertDate, updateDate)
        SELECT
          contractID,
          #{workMonth},
          #{workStartDay},
          #{workEndDay},
          #{workTime},
          #{workInfoFile},
          CURDATE(),
          NULL
        FROM ems.contract
        WHERE employeeID = #{employeeID}
          AND status = '1'
    </insert>

	<select id="queryWorkInfo" parameterType="map" resultType="com.softtech.entity.WorkInfo">
        SELECT
            c.contractID as contractID,
            e.employeeID as employeeID,
            e.employeeName as employeeName,
            w.workMonth as workMonth,
            w.workStartDay as workStartDay,
            w.workEndDay as workEndDay,
            w.workTime as workTime
        FROM
            ems.workinfo w
            INNER JOIN ems.contract c ON w.contractID = c.contractID
            INNER JOIN ems.employee e ON c.employeeID = e.employeeID
        WHERE
            e.employeeID = #{employeeID}
            AND w.workMonth = #{workMonth}
    </select>

	<update id="updateWorkInfo" parameterType="map">
        UPDATE ems.workinfo
        SET
          workStartDay = #{workStartDay},
          workEndDay   = #{workEndDay},
          workTime     = #{workTime},
          workInfoFile = #{workInfoFile},
          updateDate   = CURDATE()
        WHERE workMonth = #{workMonth}
          AND contractID IN (
                SELECT contractID FROM ems.contract WHERE employeeID = #{employeeID}
          )
    </update>

</mapper>