<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.WorkInfoMapper">
	<insert id="insertWorkInfo" parameterType="map">
	insert
	into
		workInfo
	SELECT
		conCat('W',subStr(contractID,3))as workInfoID,
		contractID,
		#{workMonth}as workMonth,
    	#{workStartDay}as workStartDay ,
   	 	#{workEndDay}as workEndDay,
    	#{workTime}as workTime,
   		null ,
    	date_format(now(),'%Y%m%d'),
    	null
    FROM
    	contract
    WHERE
    		employeeID=#{employeeID}
 		AND
 			workStartDay >= #{contractBeginDate}
 		AND
 			status = '1'
	</insert>

	<select id="queryWorkInfo" parameterType="map" resultType="WorkInfo">
		select
			w.workMonth as workMonth,
			w.workInfoID as employeeID,
			e.employeeName as employeeName,
			w.workTime as workTime,
			s.transportExpense as transportExpense,
			t.transport as transport

		from
			ems.workinfo w
            left join ems.employee e on w.workInfoID = e.employeeID
            left join ems.salaryinfo s on w.workInfoID = s.employeeID
            left join ems.transport t on w.workInfoID = t.employeeID
		where
			employeeID=#{employeeID}


	</select>

		<update id="updateWorkInfo" parameterType="map">
			update
				workInfo
			set
    			workStartDay=#{workStartDay},
   	 			workEndDay=#{workEndDay},
    			workTime=#{workTime},
    			updateDate=date_format(now(),'%Y%m%d')
			where
				employeeID=#{employeeID}
 			AND
 				workMonth=#{workMonth}
	</update>

</mapper>