<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.WorkInfoMapper">
	<insert id="insertWorkInfo" parameterType="map">
	insert
	into workInfo
	SELECT
		conCat('W',subStr(contractID,3))as workInfoID,
		contractID,
		#{workMonth}as workMonth,
    	#{workStartDay}as workStartDay ,
   	 	#{workEndDay}as workEndDay,
    	#{workTime}as workTime,
   		null ,
    	date_format(now(),'%Y%m%d'),
    	null
    FROM
    	contract
    WHERE
    	employeeID=#{employeeID}
 		AND #{workStartDay} >= contractBeginDate
 		and status = '1'
	</insert>

	<select id="queryWorkInfo" parameterType="map" resultType="WorkInfo">
		select
			max(w.workMonth) as workMonth
		from
			ems.workinfo w
			inner join ems.contract c winfo.ctractID = c.ctractID
		where
			c.employeeID = #{employeeID}
		group by
			c.employeeID
	</select>
</mapper>