<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.WorkDetailListMapper">

	<select id="getWorkInfoDetail" parameterType="string" resultType="com.softtech.entity.WorkInfo">
		select ct.employeeID,
		       workTime
		from workinfo wk,contract ct
		where wk.contractID=ct.contractID
		AND wk.workMonth=#{month}
	</select>
	<select id="geTransportDetail" parameterType="string" resultType="com.softtech.entity.Transport">
		select employeeID,
		       transport
		from transport
		where workMonth=#{month}
	</select>
</mapper>