<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.softtech.mapper.WorkDetailListMapper">
	<!--社員勤怠情報を取得する。-->
	<select id="getWorkInfoDetail" parameterType="string" resultType="com.softtech.entity.WorkInfo">
		select ct.employeeID,
		         wk.workInfoID,
		         wk.contractID,
		         wk.workMonth,
		         wk.workTime
		from workinfo wk,contract ct
		where wk.contractID=ct.contractID
		AND wk.workMonth=#{month}
	</select>
	<!--社員交通情報を取得する。-->
	<select id="geTransportDetail" parameterType="string" resultType="com.softtech.entity.Transport">
		select employeeID,
        transportExpense,
		       transport
		from transport
		where workMonth=#{month}
	</select>
	<!--勤怠情報を取得する。inner join-->
	<select id="getWorkTransport" parameterType="map" resultType="com.softtech.entity.Transport">
		select
			w.workMonth as workMonth,
<!--		w.workInfoID as employeeID,  -->
<!--			e.employeeName as employeeName,-->
			w.workTime as workTime,
			s.transportExpense as transportExpense1,
			t.transport as transport

		from
			ems.workinfo w
            left join ems.employee e on w.workInfoID = e.employeeID
            left join ems.salaryinfo s on w.workInfoID = s.employeeID
            left join ems.transport t on w.workInfoID = t.employeeID
		where
			e.employeeID=#{employeeID}
			AND w.workMonth >= #{fromMonth}
			AND w.workMonth &lt;= #{toMonth}


	</select>
</mapper>