<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softtech.mapper.YukyuDetailMapper">
	<select id="findAll" parameterType="string" resultType="com.softtech.actionForm.YukyuDetail">
		select * from yukyu where employeeID = #{employeeID}
	</select>
	<select id="queryYukyuDetail" parameterType="string" resultType="com.softtech.actionForm.YukyuDetail">
		SELECT * FROM yukyu
        WHERE

        employeeID = #{employeeID}

	</select>
	<select id="queryEmployeeID" parameterType="string" resultType="com.softtech.actionForm.YukyuDetail">
		SELECT * FROM yukyu
        <where>
        	<if test="employeeID != null">
            	and employeeID = #{employeeID}
	        </if>
        </where>
	</select>
	<update id="updateYukyuDetail" parameterType="map">
		update ems.yukyu
		set
			usedDay = #{usedDay},
			updateDate = #{updateDate}
		where employeeID =#{employeeID}
		and nendo = #{nendo}
	</update>

</mapper>
