<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=Dao/Mapper-->
<mapper namespace="com.ems.mapper.SalaryInfoMapper">

	<select id="querySalaryInfo" parameterType="map" resultType="com.ems.entity.SalaryInfo">
		select e.employeeName,s.* from salaryInfo s inner join employee e on s.employeeID = e.employeeID and s.employeeID=#{employeeID} and month=#{yearMonth}
	</select>

</mapper>
