header
{
    background-color: #ffffff;
    margin: 0px;
}
h3
{
    margin: 0px;
    line-height: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #454545;
    margin-left: 2%;
}
a:link
{
    color:#ffffff;
    text-decoration: none; 
}
a:visited
{
    color:#ffffff;
    text-decoration: none; 
}
a:hover
{
    color:#ffffff;
    background-color: #6b690a;
    text-decoration: none; 
}
a:active
{
    color:#ffffff;
    background-color: #484949;
    text-decoration: none; 
}
.chooserbox
{
    zoom:150%;
    background-color: #ffffff;
}
.control
{
    height: 38px;
    font-size: 16px;
    color: #333333;
    margin-left: 2%;
    position: relative;
}
.options
{
    float: left;
    margin:17px 0px;
    width:100%;
}
.options *
{
    margin-right: 10px;
}
.requestout,.select
{
    font-size: 16px;
}
.years,.months,.customers
{
    font-size: 16px;
    height: 26px;
}
.customers
{
    padding-bottom: 2px;
}
.button-search
{
	color: #ffffff;
    padding: 2px 31px 3px 31px;
    background-color: #00b368;
}
.table
{
    width: 96%;
    height: 630px;
    margin-left: 2%;
    background-color: #ffffff;
    border: #d8d7d7 solid 1px;
    margin-top: 20px;
    margin-bottom: 58px;
}
.salryinfo-table
{
    width: 100%;
    max-width: 400px;
    min-width: 310px;
    margin: auto;
    margin-top:55px;
}
.salryinfo-table tbody
{
	display:block;
	height:530px;
	overflow-y:scroll;
}
.salryinfo-table tbody::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.salryinfo-table tbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.0);
    background: rgba(0,0,0,0.1);
}
.salryinfo-table tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.0);
    border-radius: 0;
    background: rgba(0,0,0,0.0);
}
.salryinfo-table tr
{
	height:5px;
}
.salryinfo-table tr td
{
    width: 200px;
    line-height:21px;
    font-size:16px;
}
.salryinfo-table tr:nth-child(odd)
{
    background-color:#e5d9b6;
}
