body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y:hidden;
}
header
{
    background-color: #ffffff;
    margin: 0px;
    height: 60px;
}

.boder
{
    width: 96%;
    height: 640px;
    margin-left: 2%;
    background-color: #ffffff;
    border: #d8d7d7 solid 1px;
    margin-top: 58px;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    line-height: 600px;
    color: #868686;
}

