<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/src/public/public.css}">
<link rel="stylesheet" th:href="@{/src/ems/css/employeeedit.css}">
<link rel="stylesheet" th:href="@{/src/main/main.css}">
<script type="text/javascript" charset="UTF-8" th:src="@{/src/ems/js/transpirt.js}"></script>
<script type="text/javascript" th:src="@{/src/ems/js/employeeedit.js}"></script>

</head>
<body >
	<header>
		<h3>個人情報変更</h3>
	</header>
	<div id="boder" class="boder">
		<form class="text-left" method="POST" th:action="@{/btn-employeeEdit}" th:object="${employeeEditFormBean}" enctype="multipart/form-data">
			<div th:if="${successMessage}"  style="color: red;">
        <p th:text="${successMessage}"></p>
    </div>
			<ul style="text-align :center; color: red;">
				<li th:each="error : ${#fields.detailedErrors()}"><span th:text="${error.message}">Error message</span><br></li>
			</ul>

			<div style="text-align:center; color: red;">
				<span th:text="${updateMsg}"></span>
			</div>

			<table>
				<tr style="background-color:#dcfeeb">
					<th>社員ID</th>
					<td>
						<span class="name" th:text="${employeeEditFormBean.employeeID}"></span>
						<input type="hidden" name="employeeID" th:value="${employeeEditFormBean.employeeID}">
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th class="subject">氏　名</th>
					<td>
						<input type="text" id="employeeName" class="subject" name="employeeName" title="氏名" th:value="${employeeEditFormBean.employeeName}" />
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>性　別</th>
					<td>
						<input type="radio" name="sex" th:checked="${employeeEditFormBean.sex == '0'}" value="0" />
						男
						<input type="radio" name="sex" th:checked="${employeeEditFormBean.sex == '1'}" value="1" />
						女
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>生年月日</th>
					<td>
						<input id="birthday" class="form-control-lg" name="birthday" type="date" th:value="${employeeEditFormBean.birthday}" />
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>年　齢</th>
					<td>
						<span id="ageDisp"></span>
						<input type="hidden" id="age" name="age" th:value="${employeeEditFormBean.age}">

					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>入社年月日</th>
					<td>
					<input id="joinedDateString" class="form-control-lg" name="joinedDate" type="date" th:value="${employeeEditFormBean.joinedDate}" />
				</td>
				</tr>


				<tr style="background-color:#bfe1ff">
					<th>社　齢</th>
					<td>
						<span id="joinedAge"></span>
						<input type="hidden" id="joinedTime" name="joinedTime" th:value="${employeeEditFormBean.joinedTime}">
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>部門</th>
					<td>
						<input type="radio" name="department" th:checked="${employeeEditFormBean.department == '1' or employeeEditFormBean.department == null}" value="1"/>
						第一開発部

					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>郵便番号</th>
					<td>
					例：123-4567(-あり、半角7桁数字)
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>        </th>
					<td>
						<input id="postCode" class="" name="postCode" type="text" title="" th:value="${#strings.substring(employeeEditFormBean.postCode, 0, 3) + '-' + #strings.substring(employeeEditFormBean.postCode, 3, 7)}" pattern="\d{3}-\d{4}" required/>
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>住　所</th>
					<td>

					<!--
						<input id="employeeName" class="" name="address" type="text" title="" th:value="${employeeEditFormBean.address}" />
					 -->
					 <textarea id="address" name="address"rows="5" cols="33" th:text="${employeeEditFormBean.address}">

					</textarea>
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>電話番号</th>
					<td>
						例：080-1234-5678(-あり、半角１５桁数字)
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>        </th>
					<td>
						<input id="phoneNumber" class="" name="phoneNumber" type="text" title=""
       th:value="${employeeEditFormBean.formattedPhoneNumber}"
       pattern="\d{2,4}-\d{3,4}-\d{4}" required />
					</td>
				</tr>


				  <tr style="background-color:#bfe1ff">
					<th>個人番号</th>
					<td>
						例：1234567(-無し、半角12桁数字)
					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>        </th>
					<td>
						<input type="text" id="personNumber" class="subject" name="personNumber" title="個人番号" th:value="${employeeEditFormBean.personNumber}" />
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>前回更新日</th>
					<td>
						<span class="name" th:text="${employeeEditFormBean.updateDate}"></span>
					</td>

				</tr>

				<tr>
					<th></th>
					<td><button type="submit" class="text-align:right" >更新</button></td>
				</tr>
			</table>
			<input type="hidden" id="epType" name="epType" value="1">
		</form>
	</div>

</body>
</html>









