<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/src/public/public.css}">
<link rel="stylesheet" th:href="@{/src/ems/css/employeeedit.css}">
<link rel="stylesheet" th:href="@{/src/main/main.css}">
<script type="text/javascript" charset="UTF-8" th:src="@{/src/ems/js/transpirt.js}"></script>
<script type="text/javascript" th:src="@{/src/ems/js/employeeedit.js}"></script>

</head>
<body th:onload="onload([[${state}]])">
	<header>
		<h3>社員情報変更</h3>
	</header>
	<div id="boder" class="boder">
		<form class="text-left" method="POST" th:action="@{/btn-employeeEdit}" th:object="${employeeEditBean}" enctype="multipart/form-data">

			<ul style="text-align :center; color: red;">
				<li th:each="error : ${#fields.detailedErrors()}"><span th:text="${error.message}">Error message</span></li>
			</ul>

			<div style="text-align:center; color: red;">
				<span th:text="${updateMsg}"></span>
			</div>

			<table>
				<tr style="background-color:#dcfeeb">
					<th>社員ID</th>
					<td>
						<span class="name" th:text="${employeeEditBean.employeeID}"></span>
						<input type="hidden" name="employeeID" th:value="${employeeEditBean.employeeID}">
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th class="subject">氏　名</th>
					<td>
						<input type="text" id="employeeName" class="subject" name="employeeName" title="氏名" th:value="${employeeEditBean.employeeName}" />
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>性　別</th>
					<td>
						<input type="radio" name="sex" th:checked="${employeeEditBean.sex == '0'}" value="0" />
						男
						<input type="radio" name="sex" th:checked="${employeeEditBean.sex == '1'}" value="1" />
						女
					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>社員タイプ</th>
					<td>
			   			 <select th:field="${employeeEditBean.selectedepTypeId}">
			   			 <option th:each="epType : *{epTypeInfoList}" th:value="${epType.id}" th:text="${epType.name}"
			          				 th:selected="${epType.id} == *{selectedepTypeId}" >
			   			 </option>
			   			 </select>
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>生年月日</th>
					<td>
						<input id="birthday" class="form-control-lg" name="birthday" type="date" th:value="${employeeEditBean.birthday}" />
					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>個人番号</th>
					<td>
						例：1234567(-無し、半角12桁数字)
					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>        </th>
					<td>
						<input type="text" id="personNumber" class="subject" name="personNumber" title="個人番号" th:value="${employeeEditBean.personNumber}" />
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>年　齢</th>
					<td>
						<span id="ageDisp"></span>
						<input type="hidden" id="age" name="age" th:value="${employeeEditBean.age}>

					</td>
				</tr>
				<tr style="background-color:#bfe1ff">
					<th>入社年月日</th>
					<td>
					<input id="joinedDateString" class="form-control-lg" name="joinedDateString" type="date" th:value="${employeeEditBean.joinedDateString}" />
				</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>所属部門</th>
					<td>
						 <select th:field="${employeeEditBean.selectedDepTypeId}">
			   			 <option th:each="depType : *{depTypeInfoList}" th:value="${depType.id}" th:text="${depType.name}"
			          				 th:selected="${depType.id} == *{selectedDepTypeId}" >
			   			 </option>
			   			 </select>
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>社　齢</th>
					<td>
						<span id="joinedAge"></span>
						<input type="hidden" id="joinedTime" name="joinedTime" th:value="${employeeEditBean.joinedTime}">
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>郵便番号</th>
					<td>
						例：1234567(-無し、半角7桁数字)
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>        </th>
					<td>
						<input id="postCode" class="" name="postCode" type="text" title="" th:value="${employeeEditBean.postCode}" />
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>住　所</th>
					<td>

					<!--
						<input id="employeeName" class="" name="address" type="text" title="" th:value="${employeeEditBean.address}" />
					 -->
					 <textarea id="address" name="address"rows="5" cols="33" th:text="${employeeEditBean.address}">

					</textarea>
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>電話番号</th>
					<td>
						例：08012345678(-無し、半角数字)
					</td>
				</tr>
				<tr style="background-color:#dcfeeb">
					<th>        </th>
					<td>
						<input id="phoneNumber" class="" name="phoneNumber" type="text" title="" th:value="${employeeEditBean.phoneNumber}" />
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>前回更新日</th>
					<td>
						<span class="name" th:text="${employeeEditBean.updateDate}"></span>
					</td>

				  </tr>
				<tr>
					<th></th>
					<td><button type="submit" class="text-align:right" >更新</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>









