<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" th:href="@{/src/public/public.css}">
<link rel="stylesheet" th:href="@{/src/ems/css/employeeedit.css}">
<link rel="stylesheet" th:href="@{/src/main/main.css}">
<script type="text/javascript" charset="UTF-8" th:src="@{/src/ems/js/transpirt.js}"></script>
<script type="text/javascript" th:src="@{/src/ems/js/employeeedit.js}"></script>

</head>
<body th:onload="onload([[${state}]])">
	<header>
		<h3>社員情報変更</h3>

	</header>

	<div id="boder" class="boder">
		<form class="text-left" method="POST" th:action="@{/btn-employeeEdit}" th:object="${employeeEditBean}" enctype="multipart/form-data">

			<ul style="text-align :center; color: red;">
				<li th:each="error : ${#fields.detailedErrors()}"><span th:text="${error.message}">Error message</span></li>
			</ul>

			<div style="text-algin:center; color: red;">
				<span th:text="${updateMsg}"></span>
			</div>

			<!-- <div style="text-align:center; color:red;" th:if="${employeeNameErr != ''}"><span th:text="${employeeNameErr}"></span></div>
			<div style="text-align:center; color:red;" th:if="${joinedDateStringErr != ''}"><span th:text="${joinedDateStringErr}"></span></div> -->

			<table>
				<tr style="background-color:#dcfeeb">
					<th>社員ID</th>
					<td>
						<span class="name" th:text="${employeeEditBean.employeeID}"></span>
						<input type="hidden" name="employeeID" th:value="${employeeEditBean.employeeID}">
					</td>

				</tr>

				<tr style="background-color:#bfe1ff">
					<th class="subject">氏　名</th>
					<td>
						<input type="text" id="employeeName" class="subject" name="employeeName" title="氏名" th:value="${employeeEditBean.employeeName}" />
					</td>
				</tr>

				<tr style="background-color:#dcfeeb">
					<th>性　別</th>
					<td>
						<input type="radio" name="sex" th:checked="${employeeEditBean.sex == '1'}" value="1" />
						男
						<input type="radio" name="sex" th:checked="${employeeEditBean.sex == '0'}" value="0" />
						女
					</td>
				</tr>
<!-- 修正 -->
				<tr style="background-color:#bfe1ff">
					<th>社員タイプ</th>
					<td>
				       <!--    作成中-->

			 <select id="selectedepTypeId" name="selectedepTypeId">
   			 <option th:each="epType : *{EpTypeInfoList}" th:value="${epType.id}" th:text="${epType.name}"
          				 th:selected="${epType.id} == *{selectedepTypeId}" >
   			 </option>
   			 </select>


					</td>
					</tr>



			<tr style="background-color:#dcfeeb">
			<th>生年月日</th>
			<td>
			<input id="birthday" class="form-control-lg" name="birthday" type="date" th:value="${employeeEditBean.birthday}" />
			</td>
			</tr>




			<tr style="background-color:#bfe1ff">
			<th>個人番号</th>
			<td>
			<input type="text" id="employeeName" class="subject" name="personNumber" title="個人番号" th:value="${employeeEditBean.personNumber}" />
			</td>
			</tr>


				<tr style="background-color:#dcfeeb">
					<th>年　齢</th>
					<td>
						<span id="age"></span>
						<input type="hidden" name="age">
					</td>
				</tr>


				<tr style="background-color:#bfe1ff">
					<th>入社年月日</th>
					<td>
					<input id="joinedDateString" class="form-control-lg" name="joinedDateString" type="date" th:value="${employeeEditBean.joinedDateString}" />
				</td>
				</tr>

				<!-- 修正 -->
				<tr style="background-color:#dcfeeb">
					<th>所属部門</th>
					<td>
						<select name="department" th:value="${employeeEditBean.department}">
						<option value="部門1">部門1</option>
						<option value="部門2">部門2</option>
						<option value="部門3">部門3</option>
						<option value="部門4">そのた</option>
						</select>
					</td>
				</tr>

				<tr style="background-color:#bfe1ff">
					<th>社　齢</th>
					<td>
						<span id="joinedTime" class=""></span>
						<input type="hidden" name="joinedTime">
					</td>
				</tr>


				<tr style="background-color:#dcfeeb">
					<th>郵便番号</th>
					<td>
						<input id="employeeName" class="" name="postCode" type="text" title="" th:value="${employeeEditBean.postCode}" />
					</td>
				</tr>


				<tr style="background-color:#bfe1ff">
					<th>住　所</th>
					<td>
						<input id="employeeName" class="" name="address" type="text" title="" th:value="${employeeEditBean.address}" />
					</td>
				</tr>


				<tr style="background-color:#dcfeeb">
					<th>電話番号</th>
					<td>
						<input id="employeeName" class="" name="phoneNumber" type="text" title="" th:value="${employeeEditBean.phoneNumber}" />
					</td>
				</tr>


				<tr style="background-color:#bfe1ff">
					<th>前回更新日</th>
					<td>
						<span class="name" th:text="${employeeEditBean.updateDate}"></span>
					</td>

				  </tr>
				<tr>
				<th></th>
				<td><button type="submit" class="text-align:right" style="background-color:blue">更新</button></td>
				</tr>

			</table>
			<!-- <button type="submit" class="text-align:right">更新</button>-->

		</form>
	</div>
</body>
</html>









