<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{/src/public/public.css}">
	<link rel="stylesheet" th:href="@{/src/ems/css/salarydetails.css}">
	<script type="text/javascript" th:src="@{/src/public/public.js}"></script>
	<script type="text/javascript" th:src="@{/src/ems/js/salarydetails.js}"></script>
</head>
<body>
	<header>
		<h3>給料明細</h3>
    </header>
    <div class="control">
		<div class="options">
			<select id="years" class="years" onchange="checkMonth()">
			</select>
			<span>年</span>
			<select id="months" class="months">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select>
			<span>月</span>
			<a class="button-search" href="javascript:querytData()">検索</a>
		</div>
	</div>
	<div id="table" class="table">
		<table id="salaryinfo-table" class="salryinfo-table">
		</table>
	</div>
</body>
</html>