<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{/src/public/public.css}">
	<link rel="stylesheet" th:href="@{/src/ems/css/salarydetail.css}">
	<script type="text/javascript" th:src="@{/src/public/public.js}"></script>
	<script type="text/javascript" th:src="@{/src/ems/js/salarydetail.js}"></script>

	<script>
	//検索ボタン
	function search(){
		// 年度取得
		var years =document.getElementById('years').value;
		// 月取得
		var months =document.getElementById('months').value;

		// 月を2桁まで、補足する。例：1→01
		if (months.length == 1)
		{
			months = '0'+ months;
		}

		document.getElementById('month').value=years + months;

		document.salaryDetail.submit();
	}

	</script>

</head>
<body>
	<header>
		<h3>給料明細</h3>
    </header>

 		<form name="salaryDetail" th:action="@{/request-salarydetail}" th:object="${salarydata}" method="post">
		 <div class="control">
		<div class="options">
			<select id="years" class="years" onchange="checkMonth()">
			</select>

			<!--
			<a class="button-search" href="javascript:querytData()">検索</a>
			 -->
			  <select id="selectedMonthId" name="selectedMonthId">
   			<option th:each="month : *{monthInfoList}" th:value="${month.id}" th:text="${month.name}"
          				 th:selected="${month.id} == *{selectedMonthId}" >
   			 </option>
  				</select>
			 <!--隠しフィールド（field）-->
			 <span><input type="hidden" id="month" th:field="*{month}" /></span>
			<span>
			 	<input type="button" onclick="search()" value="検索" />
				 </span>
	</div>
	</div>

	<table>
				 <td width="50"></td>
	 			<td>
	   		 <table border="1" cellspacing="0" cellpadding="0"  width:100%; >
			<tr style="background-color:#dcfeeb">
			<td rowspan="12">  給与部分 </td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
				<!-- 対象月 -->
	        	<td>対象月</td>
	       		<td th:text="*{month}" width="200px"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	        	<!-- 基本給 ～手当理由 -->
	        	<td>基本給</td>
	       		<td th:text="*{base} != null ? *{base} + '円' : ''" width="200px"></td>
			</tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>残業時間</td>
	       		<td  th:text="*{overTime}!= null ? *{overTime} + 'h' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>不足時間</td>
	       		<td  th:text="*{shortage}!= null ? *{shortage} + 'h' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>残業加算</td>
	       		<td  th:text="*{overTimePlus}!= null ? *{overTimePlus} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>稼働不足減</td>
	       		<td  th:text="*{shortageReduce}!= null ? *{shortageReduce} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>交通費</td>
	       		<td  th:text="*{transportExpense}!= null ? *{transportExpense} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>手当加算</td>
	       		<td  th:text="*{allowancePlus}!= null ? *{allowancePlus} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>手当減算</td>
	       		<td  th:text="*{allowanceReduce}!= null ? *{allowanceReduce} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#dcfeeb">
	       		<td>手当理由</td>
	       		<td  th:text="*{allowanceReason}"></td>
	        </tr>
			<tr style="background-color:#dcfeeb">
	       		<td>特別加算</td>
	       		<td  th:text="*{specialAddition}!= null ? *{specialAddition} + '円' : ''"></td>
	        </tr>
	        <!--
	         <tr style="background-color:#dcfeeb">
	         <td  style="background-color:#bfe1ff"> 非課税交通費部分  </td>
	        	<td>交通費</td>
	       		<td  th:text="${salarydata.employeeID}" ></td>
	         </tr>
	         -->

	         <!-- 厚生年金控除個人(:厚生年金),厚生健康控除個人(:厚生健康)
	         雇用保険個人負担(:雇用保険(労災)),源泉控除(：所得税(源泉)),住民税控除(：住民税)
	         社宅家賃控除(：社宅家賃)、社宅共益費控除(:社宅共益費)、特別控除
	         -->
	         <tr style="background-color:#bfe1ff">
	         	<td rowspan="8"> 控除部分  </td>
	        	<td>厚生年金</td>
	       		<td  th:text="*{welfarePensionSelf}!= null ? *{welfarePensionSelf} + '円' : ''" ></td>
			</tr>

	         <tr style="background-color:#bfe1ff">
	       		<td>厚生健康</td>
	       		<td  th:text="*{welfareHealthSelf}!= null ? *{welfareHealthSelf} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#bfe1ff">
	       		<td>雇用保険(労災)</td>
	       		<td  th:text="*{welfareBaby}!= null ? *{welfareBaby} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#bfe1ff">
	       		<td>所得税(源泉)</td>
	       		<td  th:text="*{withholdingTax}!= null ? *{withholdingTax} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#bfe1ff">
	       		<td>住民税</td>
	       		<td  th:text="*{municipalTax}!= null ? *{municipalTax} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#bfe1ff">
	       		<td>社宅家賃</td>
	       		<td  th:text="*{rental}!= null ? *{rental} + '円' : ''"></td>
	        </tr>

	        <tr style="background-color:#bfe1ff">
	       		<td>社宅共益費</td>
	       		<td  th:text="*{rentalMgmtFee}!= null ? *{rentalMgmtFee} + '円' : ''"></td>
	        </tr>

			<tr style="background-color:#bfe1ff">
	       		<td>特別控除</td>
	       		<td  th:text="*{specialReduce}!= null ? *{specialReduce} + '円' : ''"></td>
	        </tr>

			<!-- 総額、支払日、備考-->
	         <tr style="background-color:#dcfeeb">
	         	<td rowspan="3"  style="background-color:#dcfeeb"> 合計部分  </td>
	        	<td>総額</td>
	       		<td  th:text="*{sum}!= null ? *{sum} + '円' : ''" ></td>
	         </tr>

	         <tr style="background-color:#dcfeeb">
	       		<td>支払日</td>
	       		<td  th:text="*{paymentDate}"></td>
	        </tr>

	         <tr style="background-color:#dcfeeb">
	       		<td>備考</td>
	       		<td  th:text="*{remark}"></td>
	        </tr>
	  </table>
	 </td>
    </table>
 </form>

</body>
</html>