<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{/src/public/public.css}">
	<link rel="stylesheet" th:href="@{/src/ems/css/salarydetail.css}">
	<script type="text/javascript" th:src="@{/src/public/public.js}"></script>
	<script type="text/javascript" th:src="@{/src/ems/js/salarydetail.js}"></script>
</head>
<body>
	<header>
		<h3>給料明細</h3>
    </header>
    <div class="control">
		<div class="options">
			<select id="years" class="years" onchange="checkMonth()">
			</select>
			<span>年</span>
			<select id="months" class="months">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select>
			<span>月</span>
			<a class="button-search" href="javascript:querytData()">検索</a>
		</div>
	</div>



   <form name="Sheet" th:action="@{abc}" th:object="${salarydate}"   method="post">
    <table border="1" cellspacing="0" cellpadding="0"  width:100%; >




        <tr style="background-color:#bfe1ff">
			<td rowspan="9">  給与部分 </td>
        	<td>基本給</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>


         <tr style="background-color:#dcfeeb">
       		<td>職務手当</td>
       		<td  th:text="#{salarydate.employeeName}"></td>
        </tr>

 		<tr style="background-color:#bfe1ff">
        	<td>資格手当</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
        </tr>

 		<tr style="background-color:#dcfeeb">
        	<td>残業手当・欠勤控除</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
        </tr>

        <tr style="background-color:#bfe1ff">
        	<td>出張手当</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>冠婚葬祭手当</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
        	<td>特別手当</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>前期調整金額</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
        	<td>特別控除</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
         <td  style="background-color:#bfe1ff"> 非課税交通費部分  </td>
        	<td>交通費</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
         <td rowspan="6"> 控除部分  </td>
        	<td>雇用保険</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>健康保険（一般）</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
        	<td>健康保険（介護）</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>厚生年金</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
        	<td>所得税</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>住民税</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
         	<td > 非課税部分  </td>
        	<td>年末調整額など</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
         <td rowspan="3"  style="background-color:#bfe1ff"> 合計部分  </td>
        	<td>支給総額</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
        	<td>課税対象額</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#dcfeeb">
        	<td>控除総額</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>

         <tr style="background-color:#bfe1ff">
         <td> 実際支給部分  </td>
        	<td>差引支給額</td>
       		<td  th:text="#{salarydate.employeeID}" ></td>
         </tr>



  </table>
 </form>
</body>
</html>