<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/src/ems/css/workdetaillist.css}">
    <script>
         //対象年月検索とダウンロードを分かれる。
    	function selectData(){
    		var downldflg=document.getElementById("downloadFlg");
    		downldflg.value=false;
    		document.workSheet.submit();
    	}
		function downLodData(){
			var downldflg=document.getElementById("downloadFlg");
			downldflg.value=true;
			document.workSheet.submit();
    	}
    </script>
</head>
<body>

<h3>勤怠リスト</h3>
 <!-- 対象年月 -->

 <form name="workSheet" th:action="@{/WorkDetail}" th:object="${selectjyolken}"   method="post">
	<!-- エラーメッセー -->
     <p style="color: red;" th:if="${#fields.hasErrors('month')}" th:errors="*{month}" />
     <!-- 検索条件 -->
	<table style="width:900px">
  	 	<tr>
	 		<td style="background-color:#F0F8FF"> <span>開始年月: <input type="text" size = "8" th:field="*{fromMonth}" /></span></td>
	 		<td style="background-color:#F0F8FF"> ～</td>
			<td style="background-color:#F0F8FF"> <span>終了年月: <input type="text" size = "8" th:field="*{toMonth}" /></span></td>
			<td style="background-color:#F0F8FF"> <span><input type="button"  onclick="selectData()" value="検索" /></span></td>

			<td style="background-color:#F0F8FF">

			<span><input type="hidden" id="downloadFlg" th:field="*{downloadFlg}" /></span>

     			<span><input type="button"  onclick="downLodData()" value="CSVダウンロード" /></span>
			</td>
	 	</tr>
    </table>

 </form>

	<!-- 勤怠リスト -->
    <table border="1"class="workdetaillist-table">
      <tr>
        <th style="background-color:#dcfeeb" width="200">社員ID</th>
        <th style="background-color:#dcfeeb" width="200">社員氏名</th>
        <th style="background-color:#dcfeeb" width="200">対象月</th>
        <th style="background-color:#dcfeeb" width="250">勤怠時間（H)</th>
        <th style="background-color:#dcfeeb" width="250">定期券額（円）</th>
        <th style="background-color:#dcfeeb" width="400">その他交通費（定期券以外）(円）</th>
      </tr>

	  <tr th:each="workline : ${timereport}">
    	<td th:text="${workline.employeeID}">E001</td>
    	<td th:text="${workline.employeeName}">Yumi Wakatsuki</td>
    	<td th:text="${workline.workMonth}">202103</td>
    	<td th:text="${workline.workTime}">180</td>
    	<td th:text="${workline.transportExpense}">定期券額（円)</td>
    	<td th:text="${workline.transport}">他の交通費(円）</td>
	  </tr>
	</table>

</body>
</html>