<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" th:href="@{/src/public/public.css}">
	<link rel="stylesheet" th:href="@{/src/ems/css/transpirt.css}">
	<script type="text/javascript" charset="UTF-8" th:src="@{/src/ems/js/workInfo.js}"></script>
	<script type="text/javascript" >
		/*
		 *概要：
		 *　　年月を変わったら、リクエストする。
		 */
		function changeMonth()
		{
			document.getElementById('transpirt').action="changeMonth";
			// Serverにリクエストをする
			document.transpirt.submit();
		}
		/*
		 *概要：
		 *　　画面初期表示
		 */
		function onload(actor)
		{
			if(actor!=null)
			{
				document.getElementById("messagebox").style.display="block";
			}

		}
	</script>
</head>
<body th:onload="onload([[${state}]])">
	<header>
		<h3>稼働管理</h3>
    </header>
    <div id="boder" class="boder">
		<form th:object="${transport}" th:action="@{/transport-workinfo}" id='transpirt' name="transpirt"  class="wapper" method="POST" enctype="multipart/form-data">
				<label>社員名</label><span class="name" th:text="${session.userEmployeeName}">USER</span>
			<div>
				<label>稼働月<span class="required">(*必須)</span></label><input class="workinfo-month" th:field="*{workMonth}" type="text" maxlength="7" title="稼働月" required onchange="changeMonth();"/>
			</div>
			<div class="workinfo">
				<label>稼働開始日<span class="required">*</span></label><input class="workinfo-startDate"type="date" name="workStartDay" th:value="${transport.formattedWorkStartDay}"  required />
			</div>
				<label>稼働最終日<span class="required">*</span></label><input class="workinfo-endDate" type="date" name="workEndDay" th:value="${transport.formattedWorkEndDay}" required />
			<div>
				<label>稼働時間(h)<span class="required">*</span></label><input class="workinfo-time" type="number" step="0.1" min="0" th:field="*{workTime}" placeholder="例:150" title="稼働時間" required />
			</div>
			<div class="file">
				<input id="file" type="file" name="file"/>
			</div>
			<div>
				<label>定期券開始日</label><input id="startDate" class="start" name="startDate" value="" type="text" title="stationinfo" th:value="${transport.startDate}"  required />
			</div>
			<div class="station">
				<label>起点駅</label><input id="startStation" class="station-start" name="startStation" type="text" title="stationinfo" th:value="${transport.startStation}"  required />
			</div>
				<label>終点駅</label><input id="endStation" class="station-end" name="endStation" type="text" title="stationinfo" th:value="${transport.endStation}"  required />
			<div>
				<label>交通機関</label><input id="transportFacility" class="station-traffic" name="transportFacility" type="text" th:value="${transport.transportFacility}" title="stationinfo"  required />
			</div>
				<label>中間駅1</label><input id="midStation1" class="station-a" name="midStation1" type="text" th:value="${transport.midStation1}" title="stationinfo"  >
			<div>
				<label>交通機関1</label><input id="transportFacility1" class="station-traffic-a" name="transportFacility1" type="text" th:value="${transport.transportFacility1}" title="stationinfo"  >
			</div>
			<div>
				<label>中間駅2</label><input id="midStation2" class="station-a" name="midStation2" type="text" th:value="${transport.midStation2}" title="stationinfo"  >
			</div>
				<label>中間駅3</label><input id="midStation3" class="station-a" name="midStation3" type="text" th:value="${transport.midStation3}" title="stationinfo"  >
			<div>
				<label>通勤(定期券1ヶ月)(円)<span class="required">*</span></label><input id="transportExpense1" class="amount" name="transportExpense1" type="text" pattern="[0-9]{0,7}" th:value="${transport.transportExpense1}" placeholder="例:5000" title="stationinfo"  required/>
			</div>
			<div>
				<label>定期券以外交通費(円)</label><input id="businessTrip" class="transportation" name="businessTrip" type="text" pattern="[0-9]{0,7}" th:value="${transport.businessTrip}" placeholder="例:500" autocomplete="off" title="stationinfo"  >
			</div>

			<table>
				<tr>
					<td width="50%">
						<input onclick="judge('1')" th:if="${(transport.state == '1')}" class="enter" type="button" value="修正">&nbsp;
					</td>
					<td  width="50%">
						<input onclick="judge('2')" th:if="${(transport.state == '0')}" class="enter" type="button" value="提出">&nbsp;
					</td>
				</tr>
			</table>
			<input type="hidden"  id ="flag" name="flag"/>

		</form>
	</div>
	<div id="messagebox" class="messagebox">
		<div class="messagecanvas">
			<div class="message-header"><span class="message-exit" onclick="messagetExit()">×</span></div>
			<div class="message">
				<div th:if="${(uploadFile == '001')}">ファイルアプロードは失敗しました。</div>
				<div th:if="${(uploadFile == '111')}">ファイルアプロードは成功しました。</div>
				<div th:if="${(uploadInfo == '001')}">稼働月の勤怠は既に提出済み。</div>
				<div th:if="${(uploadInfo == '002')}">登録は失敗しました。</div>
				<div th:if="${(updateloadInfo == '012')}">修正は失敗しました。</div>
				<div th:if="${(uploadInfo == '111')}">登録は成功しました。</div>
				<div th:if="${(updateloadInfo == '123')}">修正は成功しました。</div>
				<div th:if="${(upTransportInfo == '001')}">稼働月の勤怠は既に提出済み。</div>
				<div th:if="${(upTransportInfo == '002')}">登録は失敗しました</div>
				<div th:if="${(updateTransportInfo == '003')}">修正は失敗しました</div>
				<div th:if="${(upTransportInfo == '111')}">登録は成功しました</div>
				<div th:if="${(updateTransportInfo == '222')}">修正は成功しました</div>
			</div>
			<div class="message-button"><button class="message-quit" onclick="messagetExit()">確認</button></div>
		</div>
	</div>
</body>
</html>