<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>yukyuTable</title>
</head>
<body >
	<header>
		<h3>有給管理</h3>
	</header>
 	<div id="boder" class="boder">
    <form class="text-left" th:action="@{/btn-yukyuUpdate}" th:object="${detail}" method="POST">

		<div style="text-align:center; color: red;">
			<span th:text="${updateMsg}"></span>
		</div>

        <table>
				<tr style="background-color:#dcfeeb">
                    <th>社員ID</th>
                    <!-- 社員ID -->
                    <td>
						<span class="name" th:if="${detail != null}" th:text="${detail.employeeID}"></span>
						<input type="hidden" class="subject" name="employeeID" th:value="${detail.employeeID}">
					</td>
                </tr>
                <tr style="background-color:#bfe1ff">
                    <th>年度</th>
                    <!-- 年度 -->
                    <td>
                    	<span class="name" th:if="${detail != null}" th:text="${detail.nendo}"></span>
                    	<input type="hidden" class="subject" name="nendo" th:value="${detail.nendo}">
                    </td>
                </tr>
                <tr style="background-color:#dcfeeb">
                    <th>総日数</th>
                    <!-- 総日数 -->
                    <td>
						<span class="name" th:if="${detail != null}" th:text="${detail.totalDay}"></span>

					</td>
                </tr>
                <tr style="background-color:#bfe1ff">
                    <th>消化日数</th>
                    <!-- 消化日数 -->
                    <td>
                        <input type="text" id="usedDay" class="subject" name="usedDay" th:value="${detail.usedDay}"><br>
                         <span th:if="${#fields.hasErrors('usedDay')}" th:errors="*{usedDay}" style="color: red;"></span>
                    </td>
                </tr>
                <tr style="background-color:#dcfeeb">
                    <th>作成日</th>
                    <!-- 作成日 -->
                    <td>
						<span class="name" th:if="${detail != null}" th:text="${detail.insertDate}"></span>

					</td>
                </tr>
                <tr style="background-color:#bfe1ff">
                    <th>更新日</th>
                    <!-- 更新日 -->
                    <td>
						<span class="name" th:if="${detail != null}" th:text="${detail.updateDate}"></span>

					</td>
                </tr>
                <tr>
	                <th></th>
	                <th></th>
	                <th></th>
	                <th></th>
	                <th></th>
	                <!-- 更新button -->
	                <td><button type="submit" class="text-align:right">更新</button></td>
	            </tr>

        </table>
    </form>
	</div>



</body>
</html>