body
{
	height: 100%;
}
.logo
{
    background-color: #00B38B;
    width:100%;
    min-width: 110px;
    height:40px;
    padding-top:70px;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-size:80px;
    background-position:center 18px;
    color: #ffffff;
    font-size: 22px;
    text-align:center;
}
header
{
	position: fixed;
    width: 12%;
    height: 100%;
    background-color: #313541;
    left:0px;
}

ul
{
	width:150px;
    margin:auto;
    margin-top: 14px;
}
ul li
{
    width: 150px;
}
ul li a
{
    line-height: 60px;
    color: #707783;
    font-size: 16px;
}
ul li a .icon
{
    font-size: 20px;
    margin-right: 12px;
}
.right-block
{
    float: right;
    width: 88%;
    height: 100%;
    overflow: hidden;
}
.right-header
{
    height: 110px;
    border-bottom: #e5e4ee solid 1px;
}
.list
{
	font-size:26px;
	position:fixed;
}
h1
{
    font-weight: normal;
    font-size: 28px;
    color: #454545;
    margin-left: 2%;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:29px;
}
.user
{
	text-align: right;
	width: 100%;
	height: 20px;
    color: #000000;
    margin-top:14px;
}
.user *
{
    margin-left: 10px;
}
.user span
{
    color: #454545;
}
.user .icon
{
    font-size: 20px;
    margin:0px 0px;
}
.exit
{
    width: 50px;
	border-color:#333333;
    background-color: #333333;
    color: #ffffff;
    margin-right:2%;
}
.right-body
{
    background-color: #f6f5fa;
    height: calc(100vh - 110px);
}
