body
{
	height: 100%;
}
.logo
{
    background-color: #00B38B;
    width:100%;
    min-width: 110px;
    height:40px;
    padding-top:70px;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-size:80px;
    background-position:center 18px;
    color: #ffffff;
    font-size: 22px;
    text-align:center;
}
header
{
	position: fixed;
    width: 12%;
    min-width:147px;
    height: 100%;
    background-color: #313541;
    left:0px;
    z-index:99;
}
ul
{
	width:100%;
    margin:auto;
    margin-top: 14px;
}
ul li
{
    width: 100%;
    color:#707783;
    line-height: 60px;
    line-height: 60px;
    font-size: 16px;
    cursor: pointer;
}
ul li .icon
{
	display:block;
	width:147px;
    font-size: 16px;
    margin: auto;
}
.shade
{
	width:100%;
	height:100%;
	background-color:rgba(255, 255, 255,0.7);
	position: fixed;
	display:none;
}
.right-block
{
    float: right;
    width: 88%;
    height: 100%;
    overflow: hidden;
}
.right-header
{
    height: 110px;
    border-bottom: #e5e4ee solid 1px;
}
.list
{
	background-color:transparent;
	font-size:34px;
	font-weight:400;
	position:fixed;
	margin: 0px;
    padding: 0px;
    border: 0px;
    display:none;
    outline: none;
	color:#ffffff;
}
h1
{
    font-weight: normal;
    font-size: 28px;
    margin-left: 2%;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:29px;
}
.user
{
	text-align: right;
	width: 100%;
	height: 20px;
    margin-top:14px;
}
.user *
{
    margin-left: 10px;
}
.user .icon
{
    font-size: 20px;
    margin:0px 0px;
}
.exit
{
    width: 50px;
	border-color:#333333;
    background-color: #333333;
    color: #ffffff;
    margin-right:2%;
}
.right-body
{
    background-color: #f6f5fa;
    height: calc(100vh - 110px);
}
.messagebox
{
    background-color: rgba(32, 32, 32, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index:999;
}
.message-header
{
    height: 50px;
    background-color: #a6d155;
    font-size: 16px;
    color: #363636;
}
.message-exit
{
    font-size: 32px;
    float:right;
    margin-right: 15px;
    color: #363636;
    cursor: pointer;
}
.messagecanvas
{
    background-color: #ffffff;
    width: 360px;
    height: 280px;
    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 4px 7px 4px 4px rgba(133, 132, 132, 0.2);
}
.message-img
{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 18px;
}
.message
{
    width: 342px;
    height: 40px;
    margin: auto;
    color: #454545;
    margin-top: 18px;
    font-size: 16px;
    text-align: center;
}
.message-button
{
    width: 120px;
    height: 34px;
    margin: auto;   
}
.message-quit
{
    width: 120px;
    height: 34px;
    font-size: 16px;
    border: 0px;
    background-color: #5867dd;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
.message-quit:hover
{
	background-color: #8a8809;
}
.message-quit:active
{
	background-color: #484949;
}
