html
{
    width: 100%;
    overflow-y: hidden;
}
body
{
    min-width: 1600px;
    min-height: 800px;
}

.logo
{
    background-color: #00B38B;
    width: 100%;
    height:88px;
}
.logo img
{
    width: 150px;
    height: 28px;
    margin-top:32px;
    margin-left:16%;
}

header
{
    float: left;
    width:12%;
    background-color: #313541;
}

ul
{
    width: 100%;
    margin-top: 14px;
}
ul li
{
    width: 100%;
    padding-left: 20%;
}
ul li a
{
    line-height: 60px;
    color: #707783;
    font-size: 16px;
}
ul li a .icon
{
    font-size: 20px;
    margin-right: 12px;
}
.right-block
{
    float: left;
    width: 88%;
    overflow: hidden;
}
.right-header
{
    height: 88px;
    border-bottom: #e5e4ee solid 1px;
}
h1
{
    display: block;
    float: left;
    font-weight: normal;
    font-size: 28px;
    color: #454545;
    margin-left: 2%;
    line-height: 40px;
}
.user
{
    float: right;
    margin-top: 32px;
    margin-right: 20px;
    color: #000000;
}
.user *
{
    margin-left: 10px;
}
.user span
{
    color: #454545;
}
.user .icon
{
    font-size: 20px;
    margin-right: 12px;
}
.exit
{
    width: 50px;
border-color:#333333;
    background-color: #333333;
    color: #ffffff;

}
.right-body
{
    background-color: #f6f5fa;
}
